name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: rust:1.70
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - name: Build
      run: ./build.sh
    - name: Build Bindings
      run: ./build_bindings.sh
    - uses: actions/upload-artifact@v3
      with:
        path: |
          target/debug/libuniffi_fixtures.so

  test-bindings:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20
    needs: build
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: target/debug
    - name: Test
      run: |
        ./test_bindings.sh
